@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: 
      linear-gradient(135deg,#0000 20.5%,#fdd0ff 0 29.5%,#0000 0) 0 32px,
      linear-gradient( 45deg,#0000 8%,#fdd0ff 0 17%, #0000 0 58%) 64px 0,
      linear-gradient(135deg,#0000 8%,#fdd0ff 0 17%, #0000 0 58%,#fdd0ff 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#fdd0ff 0 17%, #0000 0 58%,#fdd0ff 0 67%,#0000 0 83%,#fdd0ff 0 92%,#0000 0),
      #ffffff;
  background-size: 128px 128px;
}

.hidden {
  display: none;
}