<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/e-commerce/client/assets/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
  <title>Mis Pedidos - Chillemonroll</title>
  <link rel="stylesheet" href="/e-commerce/client/src/css/output.css">
</head>

<body class="min-h-screen bg-gray-100 font-sans leading-normal tracking-normal flex flex-col">
  <header id="header"></header>

  <main class="container mx-auto px-4 py-6 max-w-[1200px]">
    <div class="space-y-4" id="orders-container"></div>
    </div>
  </main>

  <footer class="bg-violet-500 text-white py-8 mt-auto" id="footer"></footer>

  <script type="module" src="/e-commerce/client/src/js/controllers/orders.js"></script>
</body>

</html> 